In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ape = pd.read_csv("app_events.csv")

In [3]:
ape.head()

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

# read app labels to get app categories here

In [4]:
# Reading app labels
# Question: 1 device can have many events. many events can have many app id?
# Read app labels to get app categories and then groupby device id to get if there are more than app is being read
apl = pd.read_csv('app_labels.csv')
lct = pd.read_csv('label_categories.csv')

In [5]:
act = pd.merge(apl, lct, how='left', on='label_id')

In [6]:
act.head()

                app_id  label_id         category
0  7324884708820027918       251          Finance
1 -4494216993218550286       251          Finance
2  6058196446775239644       406          unknown
3  6058196446775239644       407  DS_P2P net loan
4  8694625920731541625       406          unknown

In [7]:
act.to_csv('app_categories.csv')

In [8]:
ape.drop_duplicates('event_id', keep='first', inplace=True)

In [9]:
ape = pd.merge(ape, act, how='left', on='app_id')

In [10]:
ape.head()

,event_id,app_id,is_installed,is_active,label_id,category
0,2,5927333115845830913,1,1,549,Property Industry 1.0
1,2,5927333115845830913,1,1,710,Relatives 1
2,2,5927333115845830913,1,1,704,Property Industry 2.0
3,2,5927333115845830913,1,1,548,Industry tag
4,2,5927333115845830913,1,1,172,IM

In [11]:
ape.drop(['app_id'], axis=1, inplace=True)

In [12]:
ape.head()

   event_id  is_installed  is_active  label_id               category
0         2             1          1       549  Property Industry 1.0
1         2             1          1       710            Relatives 1
2         2             1          1       704  Property Industry 2.0
3         2             1          1       548           Industry tag
4         2             1          1       172                     IM

In [13]:
events = pd.read_csv("events.csv", dtype={'device_id': np.str})

In [14]:
events.head()

   event_id             device_id            timestamp  longitude  latitude
0         1     29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2  -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3  -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4  -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5  -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

In [15]:
# The idea here is to count the number of installed apps using the data
# from app_events.csv above. Also to count the number of active apps.
events = pd.merge(events, ape, how='left', on='event_id', left_index=True)

In [16]:
events.head()

,event_id,device_id,timestamp,longitude,latitude,is_installed,is_active,label_id,category
8463466,1,29182687948017175,2016-05-01 00:55:25,121.38,31.24,NaN,NaN,NaN,NaN
0,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,1.0,1.0,549.0,Property Industry 1.0
1,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,1.0,1.0,710.0,Relatives 1
2,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,1.0,1.0,704.0,Property Industry 2.0
3,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,1.0,1.0,548.0,Industry tag

In [30]:
events_small = events[['device_id', 'is_installed', 'is_active', 'category']].drop_duplicates('device_id', keep='first')

In [31]:
events_small.head()

                    device_id  is_installed  is_active               category
8463466     29182687948017175           NaN        NaN                    NaN
0        -6401643145415154744           1.0        1.0  Property Industry 1.0
8463466  -4833982096941402721           NaN        NaN                    NaN
8463466  -6815121365017318426           NaN        NaN                    NaN
8463466  -5373797595892518570           NaN        NaN                    NaN

In [32]:
# Let's one-hot encode category
for Category in set(events_small.category):
    #add column to events small called Category
    events_small[Category] = np.where(events_small.category == Category,1,0)

In [33]:
events_small.head()

,device_id,is_installed,is_active,category,nan,Traditional securities brokerage,reading platform,show,radio,SLG (strategy),...,Internet Securities,blogs,Personal Effectiveness 1,Hotel Chain,Weather,Financial Services,foreign language,Accounting,"online shopping by group, like groupon",casual games
8463466,29182687948017175,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,-6401643145415154744,1.0,1.0,Property Industry 1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8463466,-4833982096941402721,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8463466,-6815121365017318426,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8463466,-5373797595892518570,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
pbd = pd.read_csv("phone_brand_device_model.csv", dtype={'device_id': np.str})

In [40]:
pbd.drop_duplicates('device_id', keep='first', inplace=True)

In [41]:
pbd.head()

              device_id phone_brand   device_model
0  -8890648629457979026          小米             红米
1   1277779817574759137          小米           MI 2
2   5137427614288105724          三星      Galaxy S4
3   3669464369358936369       SUGAR           时尚手机
4  -5019277647504317457          三星  Galaxy Note 2

In [42]:
english_phone_brands_mapping = {
    "三星": "samsung",
    "天语": "Ktouch",
    "海信": "hisense",
    "联想": "lenovo",
    "欧比": "obi",
    "爱派尔": "ipair",
    "努比亚": "nubia",
    "优米": "youmi",
    "朵唯": "dowe",
    "黑米": "heymi",
    "锤子": "hammer",
    "酷比魔方": "koobee",
    "美图": "meitu",
    "尼比鲁": "nibilu",
    "一加": "oneplus",
    "优购": "yougo",
    "诺基亚": "nokia",
    "糖葫芦": "candy",
    "中国移动": "ccmc",
    "语信": "yuxin",
    "基伍": "kiwu",
    "青橙": "greeno",
    "华硕": "asus",
    "夏新": "panosonic",
    "维图": "weitu",
    "艾优尼": "aiyouni",
    "摩托罗拉": "moto",
    "乡米": "xiangmi",
    "米奇": "micky",
    "大可乐": "bigcola",
    "沃普丰": "wpf",
    "神舟": "hasse",
    "摩乐": "mole",
    "飞秒": "fs",
    "米歌": "mige",
    "富可视": "fks",
    "德赛": "desci",
    "梦米": "mengmi",
    "乐视": "lshi",
    "小杨树": "smallt",
    "纽曼": "newman",
    "邦华": "banghua",
    "E派": "epai",
    "易派": "epai",
    "普耐尔": "pner",
    "欧新": "ouxin",
    "西米": "ximi",
    "海尔": "haier",
    "波导": "bodao",
    "糯米": "nuomi",
    "唯米": "weimi",
    "酷珀": "kupo",
    "谷歌": "google",
    "昂达": "ada",
    "聆韵": "lingyun",
    "小米": "Xiaomi",
    "华为": "Huawei",
    "魅族": "Meizu",
    "中兴": "ZTE",
    "酷派": "Coolpad",
    "金立": "Gionee",
    "SUGAR": "SUGAR",
    "OPPO": "OPPO",
    "vivo": "vivo",
    "HTC": "HTC",
    "LG": "LG",
    "ZUK": "ZUK",
    "TCL": "TCL",
    "LOGO": "LOGO",
    "SUGAR": "SUGAR",
    "Lovme": "Lovme",
    "PPTV": "PPTV",
    "ZOYE": "ZOYE",
    "MIL": "MIL",
    "索尼" : "Sony",
    "欧博信" : "Opssom",
    "奇酷" : "Qiku",
    "酷比" : "CUBE",
    "康佳" : "Konka",
    "亿通" : "Yitong",
    "金星数码" : "JXD",
    "至尊宝" : "Monkey King",
    "百立丰" : "Hundred Li Feng",
    "贝尔丰" : "Bifer",
    "百加" : "Bacardi",
    "诺亚信" : "Noain",
    "广信" : "Kingsun",
    "世纪天元" : "Ctyon",
    "青葱" : "Cong",
    "果米" : "Taobao",
    "斐讯" : "Phicomm",
    "长虹" : "Changhong",
    "欧奇" : "Oukimobile",
    "先锋" : "XFPLAY",
    "台电" : "Teclast",
    "大Q" : "Daq",
    "蓝魔" : "Ramos",
    "奥克斯" : "AUX"
}

In [43]:
# Now, we map the english translation into the current phone_brand
pbd.phone_brand = pbd.phone_brand.map(pd.Series(english_phone_brands_mapping), na_action='ignore')

In [44]:
pbd.head()

              device_id phone_brand   device_model
0  -8890648629457979026      Xiaomi             红米
1   1277779817574759137      Xiaomi           MI 2
2   5137427614288105724     samsung      Galaxy S4
3   3669464369358936369       SUGAR           时尚手机
4  -5019277647504317457     samsung  Galaxy Note 2

In [45]:
# One-hot encode phone brand here
for Brand in set(pbd.phone_brand):
    #add column to phonecases called colour
    pbd[Brand] = np.where(pbd.phone_brand == Brand,1,0)

In [46]:
pbd.head()

,device_id,phone_brand,device_model,nan,MIL,ipair,Huawei,Bifer,Qiku,mige,...,yuxin,Taobao,yougo,wpf,Oukimobile,samsung,panosonic,asus,oneplus,bodao
0,-8890648629457979026,Xiaomi,红米,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1277779817574759137,Xiaomi,MI 2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5137427614288105724,samsung,Galaxy S4,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,3669464369358936369,SUGAR,时尚手机,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-5019277647504317457,samsung,Galaxy Note 2,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [47]:
# One-hot encode phone brand here
for Model in set(pbd.device_model):
    #add column to phonecases called colour
    pbd[Model] = np.where(pbd.device_model == Model,1,0)

In [48]:
pbd.head()

,device_id,phone_brand,device_model,nan,MIL,ipair,Huawei,Bifer,Qiku,mige,...,GN9002,s800,M8x,D557,ZenFone 2,G309T,ZenFone 5,Xperia C3,G620-L72,G Pro Lite Dual
0,-8890648629457979026,Xiaomi,红米,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1277779817574759137,Xiaomi,MI 2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5137427614288105724,samsung,Galaxy S4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3669464369358936369,SUGAR,时尚手机,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-5019277647504317457,samsung,Galaxy Note 2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
#Train
train = pd.read_csv("gender_age_train.csv", dtype={'device_id': np.str})

In [50]:
# One-hot encode target variable
for Group in set(train.group):
    #add column to phonecases called colour
    train[Group] = np.where(train.group == Group,1,0)

In [51]:
train.head()

,device_id,gender,age,group,F27-28,M39+,F43+,M23-26,M32-38,M22-,F33-42,F23-,F24-26,F29-32,M27-28,M29-31
0,-8076087639492063270,M,35,M32-38,0,0,0,0,1,0,0,0,0,0,0,0
1,-2897161552818060146,M,35,M32-38,0,0,0,0,1,0,0,0,0,0,0,0
2,-8260683887967679142,M,35,M32-38,0,0,0,0,1,0,0,0,0,0,0,0
3,-4938849341048082022,M,30,M29-31,0,0,0,0,0,0,0,0,0,0,0,1
4,245133531816851882,M,30,M29-31,0,0,0,0,0,0,0,0,0,0,0,1

In [52]:
train = train.drop(['age'], axis=1)
train = train.drop(['gender'], axis=1)

In [53]:
train = pd.merge(train, pbd, how='left', on='device_id', left_index=True)

In [54]:
train.head()

,device_id,group,F27-28,M39+,F43+,M23-26,M32-38,M22-,F33-42,F23-,...,GN9002,s800,M8x,D557,ZenFone 2,G309T,ZenFone 5,Xperia C3,G620-L72,G Pro Lite Dual
56800,-8076087639492063270,M32-38,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41294,-2897161552818060146,M32-38,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9993,-8260683887967679142,M32-38,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179893,-4938849341048082022,M29-31,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102570,245133531816851882,M29-31,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
train = pd.merge(train, events_small, how='left', on='device_id', left_index=True)

In [56]:
train.head()

,device_id,group,F27-28,M39+,F43+,M23-26,M32-38,M22-,F33-42,F23-,...,Internet Securities,blogs,Personal Effectiveness 1,Hotel Chain,Weather,Financial Services,foreign language,Accounting,"online shopping by group, like groupon",casual games
8460527,-8076087639492063270,M32-38,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8460527,-2897161552818060146,M32-38,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6455195,-8260683887967679142,M32-38,0,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8460527,-4938849341048082022,M29-31,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8460527,245133531816851882,M29-31,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# Impute the N/A with -1
train.fillna(-1, inplace=True)

In [58]:
train.head()

,device_id,group,F27-28,M39+,F43+,M23-26,M32-38,M22-,F33-42,F23-,...,Internet Securities,blogs,Personal Effectiveness 1,Hotel Chain,Weather,Financial Services,foreign language,Accounting,"online shopping by group, like groupon",casual games
8460527,-8076087639492063270,M32-38,0,0,0,0,1,0,0,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
8460527,-2897161552818060146,M32-38,0,0,0,0,1,0,0,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
6455195,-8260683887967679142,M32-38,0,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8460527,-4938849341048082022,M29-31,0,0,0,0,0,0,0,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
8460527,245133531816851882,M29-31,0,0,0,0,0,0,0,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [59]:
train.shape[0]

74645

In [60]:
# Test
test = pd.read_csv("gender_age_test.csv", dtype={'device_id': np.str})

In [61]:
test.head()

              device_id
0   1002079943728939269
1  -1547860181818787117
2   7374582448058474277
3  -6220210354783429585
4  -5893464122623104785

In [62]:
test = pd.merge(test, pbd, how='left', on='device_id', left_index=True)

In [63]:
test.head()

,device_id,phone_brand,device_model,nan,MIL,ipair,Huawei,Bifer,Qiku,mige,...,GN9002,s800,M8x,D557,ZenFone 2,G309T,ZenFone 5,Xperia C3,G620-L72,G Pro Lite Dual
78253,1002079943728939269,Xiaomi,小米note,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84501,-1547860181818787117,Xiaomi,红米2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
104765,7374582448058474277,Huawei,Y523-L176,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145592,-6220210354783429585,Huawei,荣耀6,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12144,-5893464122623104785,Xiaomi,MI 2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
test = pd.merge(test, events_small, how='left', on='device_id', left_index=True)

In [65]:
test.head()

,device_id,phone_brand,device_model,nan_x,MIL,ipair,Huawei,Bifer,Qiku,mige,...,Internet Securities,blogs,Personal Effectiveness 1,Hotel Chain,Weather,Financial Services,foreign language,Accounting,"online shopping by group, like groupon",casual games
1199784,1002079943728939269,Xiaomi,小米note,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
482597,-1547860181818787117,Xiaomi,红米2,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3243286,7374582448058474277,Huawei,Y523-L176,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
844354,-6220210354783429585,Huawei,荣耀6,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8460527,-5893464122623104785,Xiaomi,MI 2,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
test.fillna(-1, inplace=True)

In [67]:
test.head()

,device_id,phone_brand,device_model,nan_x,MIL,ipair,Huawei,Bifer,Qiku,mige,...,Internet Securities,blogs,Personal Effectiveness 1,Hotel Chain,Weather,Financial Services,foreign language,Accounting,"online shopping by group, like groupon",casual games
1199784,1002079943728939269,Xiaomi,小米note,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
482597,-1547860181818787117,Xiaomi,红米2,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3243286,7374582448058474277,Huawei,Y523-L176,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
844354,-6220210354783429585,Huawei,荣耀6,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8460527,-5893464122623104785,Xiaomi,MI 2,0,0,0,0,0,0,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [68]:
test.shape[0]

112071

In [69]:
features = list(test.columns.values)

In [70]:
features

['device_id',
 'phone_brand',
 'device_model',
 'nan_x',
 'MIL',
 'ipair',
 'Huawei',
 'Bifer',
 'Qiku',
 'mige',
 'Daq',
 'ada',
 'Teclast',
 'OPPO',
 'lingyun',
 'nokia',
 'Yitong',
 'newman',
 'lenovo',
 'Lovme',
 'LOGO',
 'weitu',
 'mengmi',
 'Ktouch',
 'weimi',
 'desci',
 'aiyouni',
 'greeno',
 'google',
 'Konka',
 'CUBE',
 'Meizu',
 'epai',
 'nibilu',
 'hammer',
 'youmi',
 'Ctyon',
 'TCL',
 'xiangmi',
 'nubia',
 'Sony',
 'Opssom',
 'smallt',
 'banghua',
 'SUGAR',
 'Hundred Li Feng',
 'candy',
 'HTC',
 'obi',
 'Bacardi',
 'Cong',
 'ccmc',
 'JXD',
 'Coolpad',
 'lshi',
 'ZUK',
 'dowe',
 'XFPLAY',
 'Xiaomi',
 'hasse',
 'hisense',
 'meitu',
 'Phicomm',
 'ZTE',
 'ZOYE',
 'AUX',
 'kiwu',
 'Monkey King',
 'ximi',
 'Gionee',
 'vivo',
 'kupo',
 'haier',
 'Noain',
 'bigcola',
 'micky',
 'moto',
 'Changhong',
 'heymi',
 'PPTV',
 'mole',
 'ouxin',
 'LG',
 'koobee',
 'Kingsun',
 'pner',
 'Ramos',
 'fks',
 'nuomi',
 'fs',
 'yuxin',
 'Taobao',
 'yougo',
 'wpf',
 'Oukimobile',
 'samsung',
 'panosonic',
 'asus',
 'oneplus',
 'bodao',
 'L70',
 'S5000',
 'ASUS_Z00XSB',
 'L1 mini',
 'G5',
 'G4',
 'G3',
 'G2',
 'Galaxy Tab S T705',
 'G9',
 'T619+',
 'E602T',
 'Touch 3c',
 'A395e',
 'Xplay3S',
 'memo 5S',
 'Y15',
 'Y11',
 'Y13',
 'M812C',
 'Y330',
 '\xe5\xa4\xa9\xe9\x89\xb4W900',
 'Y628',
 'Y623',
 'Y622',
 'Y627',
 'T80',
 'Tab2 A7-10F',
 'A690',
 'Desire 816',
 'A51',
 'A53',
 'A7-30',
 'IVO 8800',
 'V818',
 'A360e',
 'H1S',
 'S860e',
 'Xperia acro S',
 'Z9',
 'A360t',
 'Z4',
 'LT988',
 '\xe5\xa4\xa7\xe7\xa5\x9eF2\xe5\x85\xa8\xe9\xab\x98\xe6\xb8\x85\xe7\x89\x88',
 'Z1',
 '\xe7\xba\xa2\xe8\xbe\xa3\xe6\xa4\x92Note3',
 'Z3D \xe6\xa2\xa6\xe6\x83\xb3\xe6\x9d\xbf',
 'E602M',
 '\xe7\xba\xa2\xe7\xb1\xb3note',
 'T03\xe9\x94\x8b\xe8\x87\xb3\xe7\x89\x88',
 'I9050',
 'Sensation XE with Beats Audio Z715e',
 'GN708T',
 '5200S',
 'GN708W',
 'Vibe Shot',
 '\xe8\xb6\x85\xe7\xba\xa7\xe6\x89\x8b\xe6\x9c\xbaMax',
 'EV5',
 '\xe7\x82\xab\xe5\xbd\xb1S+',
 'P880',
 'A355e',
 'Galaxy Core Prime',
 '7269',
 '7268',
 'G520-0000',
 'Galaxy E7',
 'R827T',
 '7260',
 'S880i',
 'S8-50',
 '\xe8\x8d\xa3\xe8\x80\x803C',
 'One A9',
 'C8650',
 'A765e',
 '\xe5\xa4\xa7Q',
 'TALK 7X\xe5\x85\xab\xe6\xa0\xb8',
 'Xperia ion',
 'F8909',
 '\xe7\xba\xa2\xe8\xbe\xa3\xe6\xa4\x92Note',
 'GN706L',
 'A670t',
 'Galaxy Trend DUOS 2',
 'Xperia Z Ultra',
 '\xe8\xb6\x85\xe7\xba\xa7\xe6\x89\x8b\xe6\x9c\xba1 Pro',
 'E968',
 'Yuandian II',
 'D2-M',
 'IUSAI US15',
 'MediaPad 7 Vogue',
 '\xe5\xa4\xa9\xe9\x89\xb4T1',
 'MT1-U06',
 'Desire 310',
 '8729',
 'VT898S',
 'C986t',
 'I900',
 'P21',
 'MediaPad 10 Link+?',
 'Galaxy Tab 3 8.0',
 'S7898',
 'L7',
 'L3',
 'L1',
 'MM1103',
 'MM1101',
 'P589L',
 'MM1104',
 'L9',
 'L168',
 'X9999',
 '\xe4\xb8\x89\xe6\x98\x9fbig foot',
 'EVO 3D X515m',
 'Galaxy Core Mini',
 '9300-M9',
 'Q802T',
 'Q501T',
 'Q501U',
 'Galaxy Grand',
 '8017',
 'W999',
 '\xe7\x95\x85\xe4\xba\xab5',
 '8012',
 'ono',
 'Touch 2C',
 'Touch 2',
 'Touch 3',
 'OKU3',
 'P301M',
 'Y635-TL00',
 'Touch V',
 'G606',
 'Galaxy Grand Prime',
 'G730-L075',
 'Z9 mini',
 'Y500',
 'K1',
 'R807',
 'Y13iL',
 'N798+',
 'MediaPad M2-803L',
 'R5s plus',
 'I8268',
 'PRO5',
 'IVO 6655',
 'DROID RAZR',
 'M032',
 'M030',
 'M031',
 'X5V',
 'Y613',
 'Y220-T10',
 'i1',
 'U880S',
 '\xe5\xa4\xa7\xe8\xa7\x824',
 'X5M',
 'T90',
 'T91',
 'A680',
 '\xe9\x87\x91\xe5\x88\x9aII',
 '\xe5\x85\xa8\xe9\xad\x94\xe7\x8e\x8b\xe6\x89\x8b\xe6\x9c\xba',
 'Y18L',
 'U701',
 '\xe5\xa8\x81\xe6\xad\xa63C',
 '8150D',
 'M100',
 'Ulike2',
 'Y29L',
 'M201S',
 'E100T',
 'U818',
 'U819',
 'U817',
 'Ascend P7',
 'Ascend P6',
 'S870e',
 'Ascend P1',
 'Ascend P8',
 '\xe5\x80\xbe\xe5\x9f\x8eL3C',
 'IPH8',
 'Xperia T2 Ultra',
 '\xe8\x8d\xa3\xe8\x80\x80\xe7\x95\x85\xe7\x8e\xa94C\xe8\xbf\x90\xe5\x8a\xa8\xe7\x89\x88',
 'A269',
 'M512',
 '78P01',
 'U81t',
 'One M8 Eye',
 'T9508',
 'T9500',
 'Z5S Mini',
 'Galaxy Note 10.1 N8010',
 'Q7',
 '\xe8\x81\x94\xe6\x83\xb3X2-AP',
 '7320',
 'T528d',
 'HT-I857',
 'T619',
 'T528t',
 'X80HD',
 'A6800',
 'T528w',
 'Q302C',
 'N798',
 '\xe5\xb0\x8f\xe8\xbe\xa3\xe6\xa4\x92 M2',
 '\xe5\xb0\x8f\xe8\xbe\xa3\xe6\xa4\x92 M3',
 'U51GT-W',
 'Z7 Mini',
 '\xe9\xa3\x8e\xe5\x8d\x8e3',
 'Moto X\xe6\x9e\x81',
 '\xe5\x9c\x9f\xe6\x98\x9f\xe4\xb8\x80\xe5\x8f\xb7',
 'V18',
 '5891',
 'V10',
 'E1T',
 '7061',
 '7060',
 'One X',
 'GN305',
 '\xe8\x8d\xa3\xe8\x80\x80\xe7\x95\x85\xe7\x8e\xa9\xe5\xb9\xb3\xe6\x9d\xbfT1',
 'One S',
 'Galaxy Note 3',
 'S5.1',
 'Galaxy Note 5',
 'Galaxy Note 4',
 'iSuper S2',
 'M4s',
 'iSuper S1',
 'I630M',
 'T329d',
 '8150',
 '\xe9\xa3\x9e\xe9\xa9\xac',
 'I630T',
 'P335M',
 'T329t',
 'D330',
 'Droid Ultra',
 '\xe9\xbb\x84\xe9\x87\x91\xe6\x96\x97\xe5\xa3\xabS8\xe7\x95\x85\xe7\x8e\xa9\xe7\x89\x88',
 'M4S',
 'Xperia Neo',
 'TL1000',
 '8712',
 '8713',
 'Desire 609d',
 '8715',
 '8717',
 'E613M',
 'Galaxy Trend 3',
 'Galaxy Trend 2',
 'M20-M',
 'M20-T',
 '8029',
 'P331M',
 'Z5',
 'X',
 '8021',
 'K900',
 'ivvi \xe5\xb0\x8fi Plus',
 'Z7',
 '\xe9\x9b\xb7\xe9\x9c\x86\xe6\x88\x98\xe6\x9c\xba',
 '\xe7\xba\xa2\xe8\xbe\xa3\xe6\xa4\x92\xe4\xbb\xbb\xe6\x80\xa7\xe7\x89\x88 Plus',
 'U9508',
 'C986t+',
 'B8080-F',
 'Galaxy Infinite',
 'Y516',
 'Y19T',
 'Z9 mini \xe7\xb2\xbe\xe8\x8b\xb1\xe7\x89\x88',
 'MediaPad 10 FHD',
 'A505e',
 '\xe8\x8d\xa3\xe8\x80\x803X\xe7\x95\x85\xe7\x8e\xa9\xe7\x89\x88',
 'Y28L',
 'S650',
 'S300',
 'IVO 6666',
 'V5 Max',
 '\xe4\xb9\x88\xe4\xb9\x88\xe5\x93\x923N',
 'Q801L',
 '\xe4\xb9\x88\xe4\xb9\x88\xe5\x93\x923S',
 '\xe4\xb9\x90\xe6\xaa\xacK3 Note',
 'E622M',
 '5872',
 '5876',
 'A1020',
 '5879',
 'Grand S 2',
 'E260-T',
 'ELIFE E7 Mini',
 '\xe9\x94\x8b\xe5\xb0\x9aMax',
 'S12',
 'A366t',
 'idol X',
 'A789',
 'U809',
 'U808',
 '8295c',
 'A780',
 'U807',
 'KDOOR X5-Y12',
 'A328t',
 'R850',
 '8295M',
 'A520',
 '\xe4\xb9\x90\xe6\xaa\xac3',
 'MI 2',
 'MI 3',
 '\xe5\xb0\x8f\xe7\xb1\xb34C',
 'MI 1',
 'MI 4',
 'MI 5',
 'U936',
 'Y11IW',
 '9180',
 'U930',
 'T703',
 'U939',
 'M228-M51',
 'One ME',
 'Galaxy S3 Neo+',
 'Mate 2',
 'V987',
 'Galaxy S7 Edge',
 'V983',
 'V981',
 'V1',
 'V2',
 'V4',
 'V5',
 'V6',
 'V8',
 'V9',
 'i9',
 'X8T',
 'Tab2A7-20F',
 'V185',
 'Y210-2010',
 'V183',
 'V182',
 'P518L',
 'One M9',
 'One M8',
 'V188',
 'T9600',
 'T9608',
 'T50',
 'VT888',
 'Galaxy Nexus',
 'voga v1',
 'S8-303L',
 '2016\xe7\x89\x88 Galaxy A9',
 'One max',
 'X907',
 'M560',
 'MI pad 2',
 'K860',
 'G3609',
 'X6088',
 'Y320T',
 '8702',
 'Galaxy Mega 6.3',
 '8707',
 '8705',
 '\xe9\x87\x8e\xe7\x81\xabS',
 'Y320C',
 '\xe7\x81\xab\xe6\x98\x9f\xe4\xb8\x80\xe5\x8f\xb7\xe6\x8e\xa2\xe7\xb4\xa2\xe7\x89\x88',
 'VIBE P1',
 'X6666',
 'Z5S',
 '\xe5\xa4\xa7\xe8\xa7\x82\xe9\x93\x82\xe9\xa1\xbf',
 'F240S',
 'Desire 510',
 'Galaxy Ace Plus',
 'E50-T',
 'E621T',
 'S5830I',
 'P1c58',
 '\xe7\xba\xbd\xe6\x89\xa3',
 'SCH-I939',
 'N1 Mini',
 'T328d',
 't789',
 '7620l',
 'T328w',
 'T328t',
 'BF A500',
 'HT-I717',
 'H2',
 'H3',
 'H1',
 'M3S',
 'H7',
 'H5',
 'P700i',
 'Galaxy Tab 4 T331C',
 'E912S',
 'P9 Plus',
 '8076D',
 'MediaPad M2-801W',
 'Optimus G Pro',
 'A2580',
 '\xe5\xa4\xa9\xe6\x9c\xba3',
 'L22',
 'A398t',
 'A385e',
 'MI 4S',
 'A660',
 '\xe6\x97\x97\xe8\x88\xb0\xe7\x89\x88',
 'GN705T',
 '\xe9\x94\x8b\xe5\xb0\x9aAir',
 'JX8166',
 'A889',
 'N1-Y',
 'S860',
 'A880',
 'ivvi K1 mini',
 '5216s',
 '7236',
 '7235',
 'Xperia Z3 Compact',
 '7230',
 'Xperia Z3',
 'P305',
 'L920',
 'A318t',
 'Galaxy S2 Plus',
 'HS-U978',
 'Galaxy Tab S T705C',
 'GN810',
 'HS-U971',
 'ME173X',
 'P780',
 '\xe5\xb0\x8f\xe6\x98\x9f\xe6\x98\x9f',
 '\xe6\x9c\xa8\xe6\x98\x9f\xe4\xb8\x80\xe5\x8f\xb7',
 'G630',
 'D1',
 '5216D',
 'R9 Plus',
 'Galaxy J7',
 'Galaxy J5',
 'B9388',
 'Galaxy J3',
 'Galaxy J1',
 'L855',
 'Q705U',
 '\xe6\x98\x9f\xe6\x98\x9f1\xe5\x8f\xb7',
 'Galaxy Note Edge',
 'VT898',
 'R833T',
 'Y321C',
 'S810t',
 '\xe8\xae\xbe\xe5\xa4\x87\xe5\x93\x81\xe7\xb1\xbb\xe4\xb8\xba\xef\xbc\x9a\xe5\xb9\xb3\xe6\x9d\xbf',
 'Y535D',
 '\xe5\xa4\xa7\xe7\xa5\x9eF1Plus',
 'T967',
 'J320T',
 '5263',
 '5261',
 'V70',
 'Galaxy Core',
 'S858t',
 'GN105',
 'GN106',
 'Y3100',
 'GN100',
 'GN108',
 'M5',
 'M4',
 'M6',
 'M1',
 'M3',
 'M2',
 'I632T',
 'M9',
 'M8',
 'T890',
 'S7568I',
 '8736',
 '8732',
 'F103S',
 '302U',
 'Xperia ZR ',
 'EG980',
 's820e',
 '\xe9\xad\x85\xe8\x93\x9dNote3',
 'F105',
 'F103',
 'R815T',
 'F320L',
 'V95 Pro',
 '\xe8\x8d\xa3\xe8\x80\x80V8',
 '\xe9\x94\x8b\xe5\xb0\x9amini',
 'Kindle Fire HDX 7.0',
 'Y17W',
 'Y17T',
 '8190',
 '8195',
 'Galaxy Fame',
 'PHAB',
 'IVO 6600',
 'Y51',
 'Xplay5',
 'S100',
 'Q519T',
 'BF T18 Plus',
 'J636D+',
 'W789',
 'E620M',
 'S8-50LC',
 'X6 L',
 'H6',
 'A656',
 'X6 D',
 'R8205',
 '\xe8\x8d\xa3\xe8\x80\x80\xe7\x95\x85\xe7\x8e\xa94',
 '\xe8\x8d\xa3\xe8\x80\x80\xe7\x95\x85\xe7\x8e\xa95',
 'Galaxy S4 Active',
 'W700+',
 'M910x',
 'A388t',
 'S3+',
 'K80',
 'S856',
 'S850',
 'M210',
 'L5 Plus',
 'Galaxy Tab 2 P3100',
 'U8825D',
 'A750e',
 'A500',
 '795+',
 'G615-U10',
 'GN800',
 'S920',
 'G629',
 'G628',
 'Galaxy Tab S T805C',
 'R5',
 'R7',
 'R1',
 'R2',
 'R3',
 'R9',
 'G3819D',
 'A658t',
 'Galaxy Note 10.1 2014 Edition P601',
 'Vibe Z2 Pro',
 'VT868',
 'G716',
 'A308t',
 'Galaxy R',
 'Galaxy S',
 'Galaxy W',
 'GT-I8160',
 '\xe8\x8d\xa3\xe8\x80\x804A',
 'T958',
 'Galaxy J',
 'King 7s',
 '\xe7\xba\xa2\xe7\xb1\xb3Note3',
 '\xe7\xba\xa2\xe7\xb1\xb3Note2',
 'T8620',
 '7298D',
 'ELIFE S5.5',
 'Galaxy Tab 4 T531',
 'Q3C',
 'P8max',
 'Ascend G700',
 '\xe9\x86\x89\xe4\xba\xab',
 'L128',
 'L6',
 'Desire D516t',
 'U795+',
 'Desire 7088',
 'Desire D516d',
 'A798t',
 '8721',
 '8720',
 '8722',
 'Axon\xe5\xa4\xa9\xe6\x9c\xba Max',
 '8056',
 'M1L',
 '8295',
 'Galaxy S4 Zoom',
 'Blade A1',
 '\xe9\x9d\x92\xe6\xbc\xbe3',
 '\xe8\xb6\x85\xe7\xba\xa7\xe6\x89\x8b\xe6\x9c\xba1',
 'V965T',
 '2',
 'L8',
 '\xe5\xa4\xa7\xe7\xa5\x9eF2',
 '\xe5\xa4\xa7\xe7\xa5\x9eF1',
 'Xperia TX',
 'I699I',
 'a218t',
 'E956Q',
 'X50TS',
 'R8000',
 'U86',
 'W800',
 'S660',
 '\xe5\xa4\xa7\xe7\xa5\x9eX7',
 '8185',
 'Y310-T10',
 'J738M',
 'M15',
 'X1ST',
 '2016\xe7\x89\x88 Galaxy J7',
 'DM',
 'Xperia ZL',
 'U59GT',
 'Mate 8',
 '\xe8\x81\x94\xe6\x83\xb3S870e',
 'Xperia ZR',
 'S2y',
 'Mate 7',
 '9976A',
 'N919',
 'TL500',
 'T55',
 'S2L',
 'Galaxy Core 2',
 '201',
 'Y220T',
 'Grand X Quad',
 'Galaxy Note 8.0',
 'P688L',
 'MI 2A',
 'MI 2C',
 'S11T',
 'A269i',
 'N828',
 'MI 2S',
 '5930',
 'Xperia Z2',
 'N821',
 'Mate S',
 'Xperia Z1',
 'Xperia Z5',
 'A3600d',
 'Y928',
 'P8 Lite',
 'Y923',
 'Y927',
 'C8815',
 'C8816',
 'C8813',
 'C8812',
 'C8818',
 'A3890',
 'E70-T',
 'Galaxy S2 HD LTE E120S',
 'A516',
 'U968',
 'U969',
 'XT910',
 'U960',
 'GN878',
 'A850+',
 'U966',
 'S939',
 'Galaxy Win',
 'S930',
 '\xe5\xb0\x8f\xe7\xb1\xb3note',
 'MediaPad 10 Link',
 'V880',
 'BF T18',
 '8085n',
 'A8-50',
 'A788t',
 'Y22IL',
 'EG936D',
 '8085q',
 'A356',
 '9976D',
 '3',
 '\xe5\xb0\x8f\xe9\xbb\x84\xe8\x9c\x822',
 'V5S',
 'R831S',
 'Galaxy On7',
 'Galaxy On5',
 'R831T',
 'U701T',
 'A51kc',
 'G71',
 'GN128',
 '3005',
 '3007',
 '3000',
 'M811',
 'Galaxy Mega 2',
 '\xe9\xad\x85\xe8\x93\x9d',
 'Ascend G330C',
 '8060',
 'Y511-T00',
 '\xe5\xa4\xa7\xe5\x99\xa83',
 '\xe5\xa4\xa7\xe5\x99\xa82',
 'N919D',
 'R817T',
 'Galaxy S Advance',
 '1107',
 '1105',
 'P360W',
 '1100',
 'ELIFE E3T',
 'V819 3G',
 '\xe7\xba\xa2\xe8\xbe\xa3\xe6\xa4\x92',
 'F301',
 'F303',
 'W619',
 'Venue 8 3830',
 'I7',
 'I6',
 'Q805T',
 'Galaxy Alpha',
 'A5800-D',
 '8085',
 '5832',
 'N909',
 'IdeaTab A2207A-H',
 'T60',
 'N900',
 'D800',
 'Desire 610t',
 'S720',
 'S668t',
 'VIBE X2 Pro',
 'Galaxy Note 3 Lite',
 'Blade S6',
 'Galaxy Ace 3',
 'Galaxy Ace 2',
 'Galaxy Ace 4',
 'L820c',
 'Ascend G6',
 'Ascend G7',
 '\xe4\xb8\xad\xe5\x85\xb4\xe8\xbf\x9c\xe8\x88\xaa3',
 'IVO 6622',
 '\xe8\x8d\xa3\xe8\x80\x806 Plus',
 'HN3-U01',
 'TAB 2 A7-30',
 'A708t',
 'L700T',
 'R7 Plus',
 '608t',
 'Y937',
 'U889',
 'A630',
 'Galaxy Grand Max',
 'S5Q',
 'Y80D',
 'A560',
 'A820e',
 'P596',
 'T9003',
 'Desire HD',
 'A820t',
 'U970',
 'Optimus LTE',
 'S868t',
 'A369',
 'P770',
 'V100',
 'T1-821w',
 'Q301C',
 '7372',
 'GN700T',
 'X1 7.0',
 '606w',
 '\xe5\xb0\x8f\xe9\xb2\x9c2',
 '\xe5\xb0\x8f\xe9\xb2\x9c3',
 '7231',
 '\xe5\xb0\x8f\xe8\xbe\xa3\xe6\xa4\x92X4',
 '\xe5\xb0\x8f\xe8\xbe\xa3\xe6\xa4\x92X5',
 '7019',
 'PHAB Plus',
 'S5.5L',
 'T200',
 'GN139',
 'T20L',
 'GN135',
 'YOGA Tablet B8000',
 'A2860',
 'L108',
 'L100',
 'N2',
 'N3',
 '\xe9\xbb\x84\xe9\x87\x91\xe6\x96\x97\xe5\xa3\xabA8',
 'Y310-5000',
 'R830S',
 'A678t',
 'm310',
 'note\xe9\xa1\xb6\xe9\x85\x8d\xe7\x89\x88',
 'A68e',
 '8079',
 'MAX3',
 '8076',
 'K88L',
 'Galaxy Core Max',
 'S60t',
 'E625T',
 'V967S',
 'i600',
 'Galaxy Tab P3108',
 'L930i',
 'Z9 Max',
 'EG939',
 'C8813DQ',
 '\xe5\x80\xbe\xe5\x9f\x8eL3',
 'Y511-U00',
 'C03',
 'U880E',
 'SM-T2556',
 'V788D',
 'Z5 Mini',
 'SM-T2558',
 '\xe8\xbf\x9c\xe8\x88\xaa3',
 'Y23L',
 'S5.1Pro',
 'Galaxy S4 Mini',
 'Galaxy S2 Epic 4G Touch',
 'A378t',
 'Ascend G700T',
 'Y70-C',
 'ZenFone Max',
 'A630t',
 'A630e',
 'A278t',
 'X5L',
 'X920e',
 '\xe9\x94\x8b\xe5\xb0\x9a2',
 'F20T',
 'Ascend D2',
 'Ascend D1',
 'G520-T10',
 'X98 3G',
 'Butterfly s',
 'X8888',
 'Y913',
 'A750',
 'U55GT',
 'Galaxy Tab S T800',
 'Galaxy Note 10.1',
 '8190Q',
 'Galaxy S DUOS',
 'G610M',
 'Galaxy Style DUOS',
 '9150',
 'A766',
 'C8812+',
 'M311',
 'M310',
 'I9118',
 'One X9',
 'A330e',
 'Y11IT',
 '\xe5\xa4\xa7\xe7\xa5\x9eNote',
 'A199',
 'V719',
 'S9',
 'A376',
 'S3',
 'S2',
 'S1',
 'S7',
 'S6',
 'S5',
 'Galaxy Core 4G',
 'L810',
 'T9108',
 'Desire 816x',
 'T9105',
 'ELIFE E6 mini',
 'R820',
 'G521',
 '\xe8\x81\x94\xe6\x83\xb3VIBE X2',
 'G525',
 'T929',
 'T928',
 '\xe7\xba\xa2\xe7\xb1\xb33',
 '\xe7\xba\xa2\xe7\xb1\xb32',
 'C730Lw',
 '\xe8\x8d\xa3\xe8\x80\x80U8860',
 'ivvi S6',
 'G11',
 'G10',
 '5891Q',
 'SM-T325',
 'R7s',
 'V923',
 '5263S',
 'V919',
 'M535',
 '\xe8\x81\x94\xe6\x83\xb3\xe9\xbb\x84\xe9\x87\x91\xe6\x96\x97\xe5\xa3\xabS8',
 'T85+',
 'Nexus 7',
 'Nexus 4',
 'Nexus 5',
 'T327w',
 'T327t',
 'E99',
 'Y600D',
 'G3818',
 'GN705',
 'P51',
 ...]

In [71]:
features.remove('device_id')

In [72]:
features

['phone_brand',
 'device_model',
 'nan_x',
 'MIL',
 'ipair',
 'Huawei',
 'Bifer',
 'Qiku',
 'mige',
 'Daq',
 'ada',
 'Teclast',
 'OPPO',
 'lingyun',
 'nokia',
 'Yitong',
 'newman',
 'lenovo',
 'Lovme',
 'LOGO',
 'weitu',
 'mengmi',
 'Ktouch',
 'weimi',
 'desci',
 'aiyouni',
 'greeno',
 'google',
 'Konka',
 'CUBE',
 'Meizu',
 'epai',
 'nibilu',
 'hammer',
 'youmi',
 'Ctyon',
 'TCL',
 'xiangmi',
 'nubia',
 'Sony',
 'Opssom',
 'smallt',
 'banghua',
 'SUGAR',
 'Hundred Li Feng',
 'candy',
 'HTC',
 'obi',
 'Bacardi',
 'Cong',
 'ccmc',
 'JXD',
 'Coolpad',
 'lshi',
 'ZUK',
 'dowe',
 'XFPLAY',
 'Xiaomi',
 'hasse',
 'hisense',
 'meitu',
 'Phicomm',
 'ZTE',
 'ZOYE',
 'AUX',
 'kiwu',
 'Monkey King',
 'ximi',
 'Gionee',
 'vivo',
 'kupo',
 'haier',
 'Noain',
 'bigcola',
 'micky',
 'moto',
 'Changhong',
 'heymi',
 'PPTV',
 'mole',
 'ouxin',
 'LG',
 'koobee',
 'Kingsun',
 'pner',
 'Ramos',
 'fks',
 'nuomi',
 'fs',
 'yuxin',
 'Taobao',
 'yougo',
 'wpf',
 'Oukimobile',
 'samsung',
 'panosonic',
 'asus',
 'oneplus',
 'bodao',
 'L70',
 'S5000',
 'ASUS_Z00XSB',
 'L1 mini',
 'G5',
 'G4',
 'G3',
 'G2',
 'Galaxy Tab S T705',
 'G9',
 'T619+',
 'E602T',
 'Touch 3c',
 'A395e',
 'Xplay3S',
 'memo 5S',
 'Y15',
 'Y11',
 'Y13',
 'M812C',
 'Y330',
 '\xe5\xa4\xa9\xe9\x89\xb4W900',
 'Y628',
 'Y623',
 'Y622',
 'Y627',
 'T80',
 'Tab2 A7-10F',
 'A690',
 'Desire 816',
 'A51',
 'A53',
 'A7-30',
 'IVO 8800',
 'V818',
 'A360e',
 'H1S',
 'S860e',
 'Xperia acro S',
 'Z9',
 'A360t',
 'Z4',
 'LT988',
 '\xe5\xa4\xa7\xe7\xa5\x9eF2\xe5\x85\xa8\xe9\xab\x98\xe6\xb8\x85\xe7\x89\x88',
 'Z1',
 '\xe7\xba\xa2\xe8\xbe\xa3\xe6\xa4\x92Note3',
 'Z3D \xe6\xa2\xa6\xe6\x83\xb3\xe6\x9d\xbf',
 'E602M',
 '\xe7\xba\xa2\xe7\xb1\xb3note',
 'T03\xe9\x94\x8b\xe8\x87\xb3\xe7\x89\x88',
 'I9050',
 'Sensation XE with Beats Audio Z715e',
 'GN708T',
 '5200S',
 'GN708W',
 'Vibe Shot',
 '\xe8\xb6\x85\xe7\xba\xa7\xe6\x89\x8b\xe6\x9c\xbaMax',
 'EV5',
 '\xe7\x82\xab\xe5\xbd\xb1S+',
 'P880',
 'A355e',
 'Galaxy Core Prime',
 '7269',
 '7268',
 'G520-0000',
 'Galaxy E7',
 'R827T',
 '7260',
 'S880i',
 'S8-50',
 '\xe8\x8d\xa3\xe8\x80\x803C',
 'One A9',
 'C8650',
 'A765e',
 '\xe5\xa4\xa7Q',
 'TALK 7X\xe5\x85\xab\xe6\xa0\xb8',
 'Xperia ion',
 'F8909',
 '\xe7\xba\xa2\xe8\xbe\xa3\xe6\xa4\x92Note',
 'GN706L',
 'A670t',
 'Galaxy Trend DUOS 2',
 'Xperia Z Ultra',
 '\xe8\xb6\x85\xe7\xba\xa7\xe6\x89\x8b\xe6\x9c\xba1 Pro',
 'E968',
 'Yuandian II',
 'D2-M',
 'IUSAI US15',
 'MediaPad 7 Vogue',
 '\xe5\xa4\xa9\xe9\x89\xb4T1',
 'MT1-U06',
 'Desire 310',
 '8729',
 'VT898S',
 'C986t',
 'I900',
 'P21',
 'MediaPad 10 Link+?',
 'Galaxy Tab 3 8.0',
 'S7898',
 'L7',
 'L3',
 'L1',
 'MM1103',
 'MM1101',
 'P589L',
 'MM1104',
 'L9',
 'L168',
 'X9999',
 '\xe4\xb8\x89\xe6\x98\x9fbig foot',
 'EVO 3D X515m',
 'Galaxy Core Mini',
 '9300-M9',
 'Q802T',
 'Q501T',
 'Q501U',
 'Galaxy Grand',
 '8017',
 'W999',
 '\xe7\x95\x85\xe4\xba\xab5',
 '8012',
 'ono',
 'Touch 2C',
 'Touch 2',
 'Touch 3',
 'OKU3',
 'P301M',
 'Y635-TL00',
 'Touch V',
 'G606',
 'Galaxy Grand Prime',
 'G730-L075',
 'Z9 mini',
 'Y500',
 'K1',
 'R807',
 'Y13iL',
 'N798+',
 'MediaPad M2-803L',
 'R5s plus',
 'I8268',
 'PRO5',
 'IVO 6655',
 'DROID RAZR',
 'M032',
 'M030',
 'M031',
 'X5V',
 'Y613',
 'Y220-T10',
 'i1',
 'U880S',
 '\xe5\xa4\xa7\xe8\xa7\x824',
 'X5M',
 'T90',
 'T91',
 'A680',
 '\xe9\x87\x91\xe5\x88\x9aII',
 '\xe5\x85\xa8\xe9\xad\x94\xe7\x8e\x8b\xe6\x89\x8b\xe6\x9c\xba',
 'Y18L',
 'U701',
 '\xe5\xa8\x81\xe6\xad\xa63C',
 '8150D',
 'M100',
 'Ulike2',
 'Y29L',
 'M201S',
 'E100T',
 'U818',
 'U819',
 'U817',
 'Ascend P7',
 'Ascend P6',
 'S870e',
 'Ascend P1',
 'Ascend P8',
 '\xe5\x80\xbe\xe5\x9f\x8eL3C',
 'IPH8',
 'Xperia T2 Ultra',
 '\xe8\x8d\xa3\xe8\x80\x80\xe7\x95\x85\xe7\x8e\xa94C\xe8\xbf\x90\xe5\x8a\xa8\xe7\x89\x88',
 'A269',
 'M512',
 '78P01',
 'U81t',
 'One M8 Eye',
 'T9508',
 'T9500',
 'Z5S Mini',
 'Galaxy Note 10.1 N8010',
 'Q7',
 '\xe8\x81\x94\xe6\x83\xb3X2-AP',
 '7320',
 'T528d',
 'HT-I857',
 'T619',
 'T528t',
 'X80HD',
 'A6800',
 'T528w',
 'Q302C',
 'N798',
 '\xe5\xb0\x8f\xe8\xbe\xa3\xe6\xa4\x92 M2',
 '\xe5\xb0\x8f\xe8\xbe\xa3\xe6\xa4\x92 M3',
 'U51GT-W',
 'Z7 Mini',
 '\xe9\xa3\x8e\xe5\x8d\x8e3',
 'Moto X\xe6\x9e\x81',
 '\xe5\x9c\x9f\xe6\x98\x9f\xe4\xb8\x80\xe5\x8f\xb7',
 'V18',
 '5891',
 'V10',
 'E1T',
 '7061',
 '7060',
 'One X',
 'GN305',
 '\xe8\x8d\xa3\xe8\x80\x80\xe7\x95\x85\xe7\x8e\xa9\xe5\xb9\xb3\xe6\x9d\xbfT1',
 'One S',
 'Galaxy Note 3',
 'S5.1',
 'Galaxy Note 5',
 'Galaxy Note 4',
 'iSuper S2',
 'M4s',
 'iSuper S1',
 'I630M',
 'T329d',
 '8150',
 '\xe9\xa3\x9e\xe9\xa9\xac',
 'I630T',
 'P335M',
 'T329t',
 'D330',
 'Droid Ultra',
 '\xe9\xbb\x84\xe9\x87\x91\xe6\x96\x97\xe5\xa3\xabS8\xe7\x95\x85\xe7\x8e\xa9\xe7\x89\x88',
 'M4S',
 'Xperia Neo',
 'TL1000',
 '8712',
 '8713',
 'Desire 609d',
 '8715',
 '8717',
 'E613M',
 'Galaxy Trend 3',
 'Galaxy Trend 2',
 'M20-M',
 'M20-T',
 '8029',
 'P331M',
 'Z5',
 'X',
 '8021',
 'K900',
 'ivvi \xe5\xb0\x8fi Plus',
 'Z7',
 '\xe9\x9b\xb7\xe9\x9c\x86\xe6\x88\x98\xe6\x9c\xba',
 '\xe7\xba\xa2\xe8\xbe\xa3\xe6\xa4\x92\xe4\xbb\xbb\xe6\x80\xa7\xe7\x89\x88 Plus',
 'U9508',
 'C986t+',
 'B8080-F',
 'Galaxy Infinite',
 'Y516',
 'Y19T',
 'Z9 mini \xe7\xb2\xbe\xe8\x8b\xb1\xe7\x89\x88',
 'MediaPad 10 FHD',
 'A505e',
 '\xe8\x8d\xa3\xe8\x80\x803X\xe7\x95\x85\xe7\x8e\xa9\xe7\x89\x88',
 'Y28L',
 'S650',
 'S300',
 'IVO 6666',
 'V5 Max',
 '\xe4\xb9\x88\xe4\xb9\x88\xe5\x93\x923N',
 'Q801L',
 '\xe4\xb9\x88\xe4\xb9\x88\xe5\x93\x923S',
 '\xe4\xb9\x90\xe6\xaa\xacK3 Note',
 'E622M',
 '5872',
 '5876',
 'A1020',
 '5879',
 'Grand S 2',
 'E260-T',
 'ELIFE E7 Mini',
 '\xe9\x94\x8b\xe5\xb0\x9aMax',
 'S12',
 'A366t',
 'idol X',
 'A789',
 'U809',
 'U808',
 '8295c',
 'A780',
 'U807',
 'KDOOR X5-Y12',
 'A328t',
 'R850',
 '8295M',
 'A520',
 '\xe4\xb9\x90\xe6\xaa\xac3',
 'MI 2',
 'MI 3',
 '\xe5\xb0\x8f\xe7\xb1\xb34C',
 'MI 1',
 'MI 4',
 'MI 5',
 'U936',
 'Y11IW',
 '9180',
 'U930',
 'T703',
 'U939',
 'M228-M51',
 'One ME',
 'Galaxy S3 Neo+',
 'Mate 2',
 'V987',
 'Galaxy S7 Edge',
 'V983',
 'V981',
 'V1',
 'V2',
 'V4',
 'V5',
 'V6',
 'V8',
 'V9',
 'i9',
 'X8T',
 'Tab2A7-20F',
 'V185',
 'Y210-2010',
 'V183',
 'V182',
 'P518L',
 'One M9',
 'One M8',
 'V188',
 'T9600',
 'T9608',
 'T50',
 'VT888',
 'Galaxy Nexus',
 'voga v1',
 'S8-303L',
 '2016\xe7\x89\x88 Galaxy A9',
 'One max',
 'X907',
 'M560',
 'MI pad 2',
 'K860',
 'G3609',
 'X6088',
 'Y320T',
 '8702',
 'Galaxy Mega 6.3',
 '8707',
 '8705',
 '\xe9\x87\x8e\xe7\x81\xabS',
 'Y320C',
 '\xe7\x81\xab\xe6\x98\x9f\xe4\xb8\x80\xe5\x8f\xb7\xe6\x8e\xa2\xe7\xb4\xa2\xe7\x89\x88',
 'VIBE P1',
 'X6666',
 'Z5S',
 '\xe5\xa4\xa7\xe8\xa7\x82\xe9\x93\x82\xe9\xa1\xbf',
 'F240S',
 'Desire 510',
 'Galaxy Ace Plus',
 'E50-T',
 'E621T',
 'S5830I',
 'P1c58',
 '\xe7\xba\xbd\xe6\x89\xa3',
 'SCH-I939',
 'N1 Mini',
 'T328d',
 't789',
 '7620l',
 'T328w',
 'T328t',
 'BF A500',
 'HT-I717',
 'H2',
 'H3',
 'H1',
 'M3S',
 'H7',
 'H5',
 'P700i',
 'Galaxy Tab 4 T331C',
 'E912S',
 'P9 Plus',
 '8076D',
 'MediaPad M2-801W',
 'Optimus G Pro',
 'A2580',
 '\xe5\xa4\xa9\xe6\x9c\xba3',
 'L22',
 'A398t',
 'A385e',
 'MI 4S',
 'A660',
 '\xe6\x97\x97\xe8\x88\xb0\xe7\x89\x88',
 'GN705T',
 '\xe9\x94\x8b\xe5\xb0\x9aAir',
 'JX8166',
 'A889',
 'N1-Y',
 'S860',
 'A880',
 'ivvi K1 mini',
 '5216s',
 '7236',
 '7235',
 'Xperia Z3 Compact',
 '7230',
 'Xperia Z3',
 'P305',
 'L920',
 'A318t',
 'Galaxy S2 Plus',
 'HS-U978',
 'Galaxy Tab S T705C',
 'GN810',
 'HS-U971',
 'ME173X',
 'P780',
 '\xe5\xb0\x8f\xe6\x98\x9f\xe6\x98\x9f',
 '\xe6\x9c\xa8\xe6\x98\x9f\xe4\xb8\x80\xe5\x8f\xb7',
 'G630',
 'D1',
 '5216D',
 'R9 Plus',
 'Galaxy J7',
 'Galaxy J5',
 'B9388',
 'Galaxy J3',
 'Galaxy J1',
 'L855',
 'Q705U',
 '\xe6\x98\x9f\xe6\x98\x9f1\xe5\x8f\xb7',
 'Galaxy Note Edge',
 'VT898',
 'R833T',
 'Y321C',
 'S810t',
 '\xe8\xae\xbe\xe5\xa4\x87\xe5\x93\x81\xe7\xb1\xbb\xe4\xb8\xba\xef\xbc\x9a\xe5\xb9\xb3\xe6\x9d\xbf',
 'Y535D',
 '\xe5\xa4\xa7\xe7\xa5\x9eF1Plus',
 'T967',
 'J320T',
 '5263',
 '5261',
 'V70',
 'Galaxy Core',
 'S858t',
 'GN105',
 'GN106',
 'Y3100',
 'GN100',
 'GN108',
 'M5',
 'M4',
 'M6',
 'M1',
 'M3',
 'M2',
 'I632T',
 'M9',
 'M8',
 'T890',
 'S7568I',
 '8736',
 '8732',
 'F103S',
 '302U',
 'Xperia ZR ',
 'EG980',
 's820e',
 '\xe9\xad\x85\xe8\x93\x9dNote3',
 'F105',
 'F103',
 'R815T',
 'F320L',
 'V95 Pro',
 '\xe8\x8d\xa3\xe8\x80\x80V8',
 '\xe9\x94\x8b\xe5\xb0\x9amini',
 'Kindle Fire HDX 7.0',
 'Y17W',
 'Y17T',
 '8190',
 '8195',
 'Galaxy Fame',
 'PHAB',
 'IVO 6600',
 'Y51',
 'Xplay5',
 'S100',
 'Q519T',
 'BF T18 Plus',
 'J636D+',
 'W789',
 'E620M',
 'S8-50LC',
 'X6 L',
 'H6',
 'A656',
 'X6 D',
 'R8205',
 '\xe8\x8d\xa3\xe8\x80\x80\xe7\x95\x85\xe7\x8e\xa94',
 '\xe8\x8d\xa3\xe8\x80\x80\xe7\x95\x85\xe7\x8e\xa95',
 'Galaxy S4 Active',
 'W700+',
 'M910x',
 'A388t',
 'S3+',
 'K80',
 'S856',
 'S850',
 'M210',
 'L5 Plus',
 'Galaxy Tab 2 P3100',
 'U8825D',
 'A750e',
 'A500',
 '795+',
 'G615-U10',
 'GN800',
 'S920',
 'G629',
 'G628',
 'Galaxy Tab S T805C',
 'R5',
 'R7',
 'R1',
 'R2',
 'R3',
 'R9',
 'G3819D',
 'A658t',
 'Galaxy Note 10.1 2014 Edition P601',
 'Vibe Z2 Pro',
 'VT868',
 'G716',
 'A308t',
 'Galaxy R',
 'Galaxy S',
 'Galaxy W',
 'GT-I8160',
 '\xe8\x8d\xa3\xe8\x80\x804A',
 'T958',
 'Galaxy J',
 'King 7s',
 '\xe7\xba\xa2\xe7\xb1\xb3Note3',
 '\xe7\xba\xa2\xe7\xb1\xb3Note2',
 'T8620',
 '7298D',
 'ELIFE S5.5',
 'Galaxy Tab 4 T531',
 'Q3C',
 'P8max',
 'Ascend G700',
 '\xe9\x86\x89\xe4\xba\xab',
 'L128',
 'L6',
 'Desire D516t',
 'U795+',
 'Desire 7088',
 'Desire D516d',
 'A798t',
 '8721',
 '8720',
 '8722',
 'Axon\xe5\xa4\xa9\xe6\x9c\xba Max',
 '8056',
 'M1L',
 '8295',
 'Galaxy S4 Zoom',
 'Blade A1',
 '\xe9\x9d\x92\xe6\xbc\xbe3',
 '\xe8\xb6\x85\xe7\xba\xa7\xe6\x89\x8b\xe6\x9c\xba1',
 'V965T',
 '2',
 'L8',
 '\xe5\xa4\xa7\xe7\xa5\x9eF2',
 '\xe5\xa4\xa7\xe7\xa5\x9eF1',
 'Xperia TX',
 'I699I',
 'a218t',
 'E956Q',
 'X50TS',
 'R8000',
 'U86',
 'W800',
 'S660',
 '\xe5\xa4\xa7\xe7\xa5\x9eX7',
 '8185',
 'Y310-T10',
 'J738M',
 'M15',
 'X1ST',
 '2016\xe7\x89\x88 Galaxy J7',
 'DM',
 'Xperia ZL',
 'U59GT',
 'Mate 8',
 '\xe8\x81\x94\xe6\x83\xb3S870e',
 'Xperia ZR',
 'S2y',
 'Mate 7',
 '9976A',
 'N919',
 'TL500',
 'T55',
 'S2L',
 'Galaxy Core 2',
 '201',
 'Y220T',
 'Grand X Quad',
 'Galaxy Note 8.0',
 'P688L',
 'MI 2A',
 'MI 2C',
 'S11T',
 'A269i',
 'N828',
 'MI 2S',
 '5930',
 'Xperia Z2',
 'N821',
 'Mate S',
 'Xperia Z1',
 'Xperia Z5',
 'A3600d',
 'Y928',
 'P8 Lite',
 'Y923',
 'Y927',
 'C8815',
 'C8816',
 'C8813',
 'C8812',
 'C8818',
 'A3890',
 'E70-T',
 'Galaxy S2 HD LTE E120S',
 'A516',
 'U968',
 'U969',
 'XT910',
 'U960',
 'GN878',
 'A850+',
 'U966',
 'S939',
 'Galaxy Win',
 'S930',
 '\xe5\xb0\x8f\xe7\xb1\xb3note',
 'MediaPad 10 Link',
 'V880',
 'BF T18',
 '8085n',
 'A8-50',
 'A788t',
 'Y22IL',
 'EG936D',
 '8085q',
 'A356',
 '9976D',
 '3',
 '\xe5\xb0\x8f\xe9\xbb\x84\xe8\x9c\x822',
 'V5S',
 'R831S',
 'Galaxy On7',
 'Galaxy On5',
 'R831T',
 'U701T',
 'A51kc',
 'G71',
 'GN128',
 '3005',
 '3007',
 '3000',
 'M811',
 'Galaxy Mega 2',
 '\xe9\xad\x85\xe8\x93\x9d',
 'Ascend G330C',
 '8060',
 'Y511-T00',
 '\xe5\xa4\xa7\xe5\x99\xa83',
 '\xe5\xa4\xa7\xe5\x99\xa82',
 'N919D',
 'R817T',
 'Galaxy S Advance',
 '1107',
 '1105',
 'P360W',
 '1100',
 'ELIFE E3T',
 'V819 3G',
 '\xe7\xba\xa2\xe8\xbe\xa3\xe6\xa4\x92',
 'F301',
 'F303',
 'W619',
 'Venue 8 3830',
 'I7',
 'I6',
 'Q805T',
 'Galaxy Alpha',
 'A5800-D',
 '8085',
 '5832',
 'N909',
 'IdeaTab A2207A-H',
 'T60',
 'N900',
 'D800',
 'Desire 610t',
 'S720',
 'S668t',
 'VIBE X2 Pro',
 'Galaxy Note 3 Lite',
 'Blade S6',
 'Galaxy Ace 3',
 'Galaxy Ace 2',
 'Galaxy Ace 4',
 'L820c',
 'Ascend G6',
 'Ascend G7',
 '\xe4\xb8\xad\xe5\x85\xb4\xe8\xbf\x9c\xe8\x88\xaa3',
 'IVO 6622',
 '\xe8\x8d\xa3\xe8\x80\x806 Plus',
 'HN3-U01',
 'TAB 2 A7-30',
 'A708t',
 'L700T',
 'R7 Plus',
 '608t',
 'Y937',
 'U889',
 'A630',
 'Galaxy Grand Max',
 'S5Q',
 'Y80D',
 'A560',
 'A820e',
 'P596',
 'T9003',
 'Desire HD',
 'A820t',
 'U970',
 'Optimus LTE',
 'S868t',
 'A369',
 'P770',
 'V100',
 'T1-821w',
 'Q301C',
 '7372',
 'GN700T',
 'X1 7.0',
 '606w',
 '\xe5\xb0\x8f\xe9\xb2\x9c2',
 '\xe5\xb0\x8f\xe9\xb2\x9c3',
 '7231',
 '\xe5\xb0\x8f\xe8\xbe\xa3\xe6\xa4\x92X4',
 '\xe5\xb0\x8f\xe8\xbe\xa3\xe6\xa4\x92X5',
 '7019',
 'PHAB Plus',
 'S5.5L',
 'T200',
 'GN139',
 'T20L',
 'GN135',
 'YOGA Tablet B8000',
 'A2860',
 'L108',
 'L100',
 'N2',
 'N3',
 '\xe9\xbb\x84\xe9\x87\x91\xe6\x96\x97\xe5\xa3\xabA8',
 'Y310-5000',
 'R830S',
 'A678t',
 'm310',
 'note\xe9\xa1\xb6\xe9\x85\x8d\xe7\x89\x88',
 'A68e',
 '8079',
 'MAX3',
 '8076',
 'K88L',
 'Galaxy Core Max',
 'S60t',
 'E625T',
 'V967S',
 'i600',
 'Galaxy Tab P3108',
 'L930i',
 'Z9 Max',
 'EG939',
 'C8813DQ',
 '\xe5\x80\xbe\xe5\x9f\x8eL3',
 'Y511-U00',
 'C03',
 'U880E',
 'SM-T2556',
 'V788D',
 'Z5 Mini',
 'SM-T2558',
 '\xe8\xbf\x9c\xe8\x88\xaa3',
 'Y23L',
 'S5.1Pro',
 'Galaxy S4 Mini',
 'Galaxy S2 Epic 4G Touch',
 'A378t',
 'Ascend G700T',
 'Y70-C',
 'ZenFone Max',
 'A630t',
 'A630e',
 'A278t',
 'X5L',
 'X920e',
 '\xe9\x94\x8b\xe5\xb0\x9a2',
 'F20T',
 'Ascend D2',
 'Ascend D1',
 'G520-T10',
 'X98 3G',
 'Butterfly s',
 'X8888',
 'Y913',
 'A750',
 'U55GT',
 'Galaxy Tab S T800',
 'Galaxy Note 10.1',
 '8190Q',
 'Galaxy S DUOS',
 'G610M',
 'Galaxy Style DUOS',
 '9150',
 'A766',
 'C8812+',
 'M311',
 'M310',
 'I9118',
 'One X9',
 'A330e',
 'Y11IT',
 '\xe5\xa4\xa7\xe7\xa5\x9eNote',
 'A199',
 'V719',
 'S9',
 'A376',
 'S3',
 'S2',
 'S1',
 'S7',
 'S6',
 'S5',
 'Galaxy Core 4G',
 'L810',
 'T9108',
 'Desire 816x',
 'T9105',
 'ELIFE E6 mini',
 'R820',
 'G521',
 '\xe8\x81\x94\xe6\x83\xb3VIBE X2',
 'G525',
 'T929',
 'T928',
 '\xe7\xba\xa2\xe7\xb1\xb33',
 '\xe7\xba\xa2\xe7\xb1\xb32',
 'C730Lw',
 '\xe8\x8d\xa3\xe8\x80\x80U8860',
 'ivvi S6',
 'G11',
 'G10',
 '5891Q',
 'SM-T325',
 'R7s',
 'V923',
 '5263S',
 'V919',
 'M535',
 '\xe8\x81\x94\xe6\x83\xb3\xe9\xbb\x84\xe9\x87\x91\xe6\x96\x97\xe5\xa3\xabS8',
 'T85+',
 'Nexus 7',
 'Nexus 4',
 'Nexus 5',
 'T327w',
 'T327t',
 'E99',
 'Y600D',
 'G3818',
 'GN705',
 'P51',
 'Galaxy S6 Edge+',
 ...]

# All pre-processing are done and ready to play with modelling here!

# Logistic Regression

In [73]:
train.to_csv('train_one_hot.csv')

In [74]:
test.to_csv('test_one_hot.csv')

In [75]:
import sklearn.linear_model

In [76]:
regressor = sklearn.linear_model.LogisticRegression()

In [87]:
X = train.drop(['device_id', 'phone_brand', 'device_model', 'group', 'F27-28', 'M39+', 'F43+', 'M23-26', 'M32-38',
               'M22-', 'F33-42', 'F24-26', 'F29-32', 'M27-28', 'F23-', 'M29-31'], axis=1)

In [88]:
X.head()

,nan_x,MIL,ipair,Huawei,Bifer,Qiku,mige,Daq,ada,Teclast,...,Internet Securities,blogs,Personal Effectiveness 1,Hotel Chain,Weather,Financial Services,foreign language,Accounting,"online shopping by group, like groupon",casual games
8460527,0,0,0,0,0,0,0,0,0,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
8460527,0,0,0,0,0,0,0,0,0,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
6455195,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8460527,0,0,0,0,0,0,0,0,0,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
8460527,0,0,0,0,0,0,0,0,0,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [89]:
y = train[['F27-28', 'M39+', 'F43+', 'M23-26', 'M32-38',
               'M22-', 'F33-42', 'F24-26', 'F29-32', 'M27-28', 'F23-', 'M29-31']]

In [90]:
y.head()

,F27-28,M39+,F43+,M23-26,M32-38,M22-,F33-42,F24-26,F29-32,M27-28,F23-,M29-31
8460527,0,0,0,0,1,0,0,0,0,0,0,0
8460527,0,0,0,0,1,0,0,0,0,0,0,0
6455195,0,0,0,0,1,0,0,0,0,0,0,0
8460527,0,0,0,0,0,0,0,0,0,0,0,1
8460527,0,0,0,0,0,0,0,0,0,0,0,1

In [91]:
regressor.fit(X, y)

ValueError: could not convert string to float: Property Industry 1.0

array([False, False, False, ..., False, False, False], dtype=bool)